body{
font-family:Verdana;
font-size:13px;
}
#form_container{
width:400px;
margin:0 auto;
overflow:hidden;
border:1px solid #ccc;
border-radius:5px;
padding:10px;
}
h2{
text-align:center;
}
.error{
color:#f00;
}
#form_container span{
float:right;
display:block;
clear:both;
}
#form_container label{
display:block;
float:left;
margin:5px 0;
width:150px;
}
#form_container input{
float:right;
margin:5px 0;
}
#form_container input[type="submit"]{
float:left;
margin:8px 0 0 254px;
}





h3{
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
}


.container-two{
    margin-top: 1000px;
    margin-bottom: 100px;
}



.bar{
    background: #f2f2f1;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}

.bar-inner{
    background: #2ecc71;
    width: 0%;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}
.bar-inner:after{
    position: absolute;
    right: 2.5%;
    content: attr(data-percent);
    line-height: 30px;
    color: #fff;
}

/*.bar-90{
    width: 90%;
}
.bar-80{
    width: 80%;
}

.bar-70{
    width: 70%;
}





















